[Desktop Entry]
Name=Fawkes Network LogView
Comment=Read log messages from robots over the network
Type=Application
Exec=ffnetloggui
Icon=@RESDIR@/guis/netloggui/ffnetloggui.svg
Categories=Robotics;Development;Education;Science;
Encoding=UTF-8
