# Generic globs
*~
.deps_*
.objs_*
*_tolua.cpp

# Specific paths, _ variants for cross compilation environments
bin/
bin_*/
lib/
lib_*/
plugins/
plugins_*

# Eclipse project files, some are using it...
.cproject
.project

