# Generic globs
/core*
/bin/core*
*~
.deps_*
.objs_*
*_tolua.cpp
*_tolua.pkg

# Specific paths, _ variants for cross compilation environments
/bin/
/bin_*/
/cfg/*.db
/cfg/*.key
/cfg/*.crt
/cfg/host.yaml
/doc/api
/doc/man
/lib/
/lib_*/
/log/
/plugins/
/plugins_*
/warnings.txt

# Eclipse project files, some are using it...
.cproject
.project
.settings

# Vim files
.*.swp
.*.swo

