name RCSoftXFountainConfig
directory apps/fountain/
prefix '<RCSoftConfigFile><Lowlevel><FireVision><Fountain>'
int  FountainPort '<FountainPort>' -- print_out crash_if_missing
int  ImageDelay '<ImageDelay>' -- print_out crash_if_missing
