name GeegawConfig

prefix '<RCSoftConfigFile><Lowlevel><FireVision><Front><FrontGeneral>'
string ClassifierType '<ClassifierSettings><ClassifierType>' -- print_out crash_if_missing
string ShrinkerType '<ClassifierSettings><ShrinkerType>' -- print_out crash_if_missing
float  ForwardPan '<PanTilt><ForwardPan>' -- print_out crash_if_missing
float  ForwardTilt '<PanTilt><ForwardTilt>' -- print_out crash_if_missing
float  ForwardDelay '<PanTilt><ForwardDelay>' -- print_out crash_if_missing
float  PanMinChange '<PanTilt><PanMinChange>' -- print_out crash_if_missing
float  TiltMinChange '<PanTilt><TiltMinChange>' -- print_out crash_if_missing
float  TiltMax '<PanTilt><TiltMinChange>' -- print_out crash_if_missing

prefix '<RCSoftConfigFile><Lowlevel><FireVision><Stereo><StereoGeneral><StereoModelSettings>'
string ColorModel '<ColorModelType>' -- print_out crash_if_missing
string ScanlineModel '<ScanlineModelType>' -- print_out crash_if_missing
string ColormapDirectory '<ColorModel><LookupTable><ColormapDirectory>' -- print_out crash_if_missing
string ColormapFilestem '<ColorModel><LookupTable><ColormapFilestem>' -- print_out crash_if_missing
int    LookupTableWidth '<ColorModel><LookupTable><ColormapWidth>' -- print_out crash_if_missing
int    LookupTableHeight '<ColorModel><LookupTable><ColormapHeight>' -- print_out crash_if_missing
int    ScanlineGridXOffset '<ScanlineModel><GridModel><GridXOffset>' -- print_out crash_if_missing
int    ScanlineGridYOffset '<ScanlineModel><GridModel><GridYOffset>' -- print_out crash_if_missing

prefix '<RCSoftConfigFile><Lowlevel><FireVision><Front><RobotFrontSettings hostname="@=HOSTNAME=@">'
string CameraType '<CameraType>' -- print_out crash_if_missing
string CameraControlType '<CameraControlType>' -- print_out crash_if_missing
float HorizontalViewingAngle '<CameraSettings><HorizontalViewingAngle>' -- print_out crash_if_missing
float VerticalViewingAngle '<CameraSettings><VerticalViewingAngle>' -- print_out crash_if_missing
float CameraHeight '<CameraSettings><CameraHeight>' -- print_out crash_if_missing
float CameraOffsetX '<CameraSettings><CameraOffsetX>' -- print_out crash_if_missing
float CameraOffsetY '<CameraSettings><CameraOffsetY>' -- print_out crash_if_missing
float CameraOrientation '<CameraSettings><CameraOrientation>' -- print_out crash_if_missing
