name GeegawConfig

prefix '<RCSoftConfigFile><Lowlevel><FireVision><Stereo><StereoGeneral>'
string ClassifierType '<ClassifierSettings><ClassifierType>' -- print_out crash_if_missing
string ShrinkerType '<ClassifierSettings><ShrinkerType>' -- print_out crash_if_missing

prefix '<RCSoftConfigFile><Lowlevel><FireVision><Stereo><StereoGeneral><StereoModelSettings>'
string ColorModel '<ColorModelType>' -- print_out crash_if_missing
string ScanlineModel '<ScanlineModelType>' -- print_out crash_if_missing
string ColormapDirectory '<ColorModel><LookupTable><ColormapDirectory>' -- print_out crash_if_missing
string ColormapFilestem '<ColorModel><LookupTable><ColormapFilestem>' -- print_out crash_if_missing
int    LookupTableWidth '<ColorModel><LookupTable><ColormapWidth>' -- print_out crash_if_missing
int    LookupTableHeight '<ColorModel><LookupTable><ColormapHeight>' -- print_out crash_if_missing
int    ScanlineGridXOffset '<ScanlineModel><GridModel><GridXOffset>' -- print_out crash_if_missing
int    ScanlineGridYOffset '<ScanlineModel><GridModel><GridYOffset>' -- print_out crash_if_missing

prefix '<RCSoftConfigFile><Lowlevel><FireVision><Front><RobotFrontSettings hostname="@=HOSTNAME=@">'
float CameraHeight '<CameraHeight>' -- print_out crash_if_missing
float CameraOffsetX '<CameraOffsetX>' -- print_out crash_if_missing
float CameraOffsetY '<CameraOffsetY>' -- print_out crash_if_missing
float CameraBearing '<CameraBearing>' -- print_out crash_if_missing
float CameraSlope '<CameraSlope>' -- print_out crash_if_missing

