[Desktop Entry]
Name=Fawkes Configuration Editor
Comment=Edit the configuration of robots
Type=Application
Exec=ffconfiggui
Icon=@RESDIR@/guis/config_editor/config.png
Categories=Robotics;Development;Education;
