
#blackboard-interfaces { float: right; padding: 8px 4px; width: 30%;}

.blackboard-writer-none { color: red; }
.blackboard-writer-exists {}

.blackboard-graph-link { font-weight: bold; }
.blackboard-graph-div  { margin-left: 3px; margin-top: 4px; }
