body, th, td {
    font-family: sans-serif;
    font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
    font-style: normal;
    text-decoration : none;
}

h1, h2, h3, h4 { font-weight: bold; letter-spacing: -0.018em; }
h1 { font-size: 19px; margin: .15em 1em 0 0 }
h2 { font-size: 16px }
h3 { font-size: 14px }
hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }
address { font-style: normal }
img { border: none }
tt { white-space: pre }

table { margin-top: 10px; }
tr { text-align: left; }
td { padding-right: 10px; }
th { padding-right: 10px; font-weight: bold; }

.underline { text-decoration: underline }

/* Link styles */
:link, :visited {
    text-decoration: none;
    color: #b00;
    border-bottom: 1px dotted #bbb;
}
:link:hover, :visited:hover {
    background-color: #eee;
    color: #555;
}
h1 :link, h1 :visited ,h2 :link, h2 :visited, h3 :link, h3 :visited,
h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited {
    color: inherit;
}


/* Main navigation bar */
#mainnav {
 background: #f7f7f7 url(/static/chrome/topbar_gradient.png) 0 0;
 border: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 margin: .66em 0 1em;
 padding: .2em 0;
}
#mainnav li { border-right: none; padding: .25em 0 }
#mainnav :link, #mainnav :visited {
    background: url(/static/chrome/dots.gif) 0 0 no-repeat;
    border-right: 1px solid #fff;
    border-bottom: none;
    border-left: 1px solid #555;
    color: #000;
    padding: .2em 20px;
}
* html #mainnav :link, * html #mainnav :visited { background-position: 1px 0 }
#mainnav :link:hover, #mainnav :visited:hover {
    background-color: #ccc;
    border-right: 1px solid #ddd;
}
#mainnav .active :link, #mainnav .active :visited {
    background: #333 url(/static/chrome/topbar_gradient2.png) 0 0 repeat-x;
    border-top: none;
    border-right: 1px solid #000;
    color: #eee;
    font-weight: bold;
}
#mainnav .active :link:hover, #mainnav .active :visited:hover {
    border-right: 1px solid #000;
}

/* Navigation */
.nav h2, .nav hr { display: none }
.nav ul { font-size: 10px; list-style: none; margin: 0; text-align: right }
.nav li {
    border-right: 1px solid #d7d7d7;
    display: inline;
    padding: 0 .75em;
    white-space: nowrap;
}
.nav li.last { border-right: none }

/* Instances */
#footer hr { margin-top: 15px; margin-bottom: 5px; }
#footer #version { font-size: 10px; }
#footer #version a, :link:hover, :visited:hover { background-color: white;  color: black; border-bottom: none; }
.instances ul { font-size: 10px; list-style: none; margin: 0; text-align: right }
.instances li {
    /*border-right: 1px solid #d7d7d7;*/
    display: inline;
    padding: 0.75em;
    white-space: nowrap;
}
.instances li.last { border-right: none }


/* Header */
#header hr { display: none }
#header h1 { margin: 1.5em 0 -1.5em; }
#header img { border: none; margin: 1em 0 1em }
#header :link, #header :visited, #header :link:hover, #header :visited:hover {
 background: transparent;
 color: #555;
 margin-bottom: 2px;
 border: none;
}
#header h1 :link:hover, #header h1 :visited:hover { color: #000 }
