
ul#icons li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 2px;
    padding: 4px 0;
    position: relative;
}
ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
