# my global config
global:
  scrape_interval:     15s
  scrape_timeout:      15s
  evaluation_interval: 15s

  #external_labels:
  #  monitor: codelab

#rule_files:
#- "first.rules"

scrape_configs:
- job_name: prometheus
  static_configs:
    - targets: ['localhost:9090']

- job_name: node
  static_configs:
    - targets: ['localhost:9100']

- job_name: proc
  static_configs:
    - targets: ['localhost:9256']

- job_name: fawkes
  honor_labels: true
  static_configs:
  - targets: ['localhost:8088']

- job_name: grafana
  static_configs:
    - targets: ['localhost:3000']

