[Desktop Entry]
Name=Fawkes LaserGUI
Comment=Visualize laser information from a robot
Type=Application
Exec=lasergui
Icon=@RESDIR@/guis/lasergui/lines.svg
Categories=Robotics;Development;Education;Science;
Encoding=UTF-8
